# PostgreSQL
POSTGRES_USER=university_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=knowledge_db
POSTGRES_PORT=5432

# Elasticsearch
ELASTICSEARCH_PORT=9200

# Redis
REDIS_PASSWORD=your_redis_password
REDIS_PORT=6379

#Backend Application
DATABASE_URL=postgresql://university_user:your_postgres_password@postgres:5432/knowledge_db
ELASTICSEARCH_URL=http://elasticsearch:9200
REDIS_URL=redis://:your_redis_password@redis:6379/0

#Бизнес-логика
MAX_FILE_SIZE_MB=20
CHUNK_SIZE=1000
CHUNK_OVERLAP=100

# Фронтенд
VITE_API_URL=http://localhost:8000
VITE_APP_TITLE=University Search System

# Графана
GRAFANA_ADMIN_PASSWORD=your_grafana_password

# Общие настройки
COMPOSE_PROJECT_NAME=university_search