.env
.env.local

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/

node_modules/
dist/
build/
.vite/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

postgres_data/
elastic_data/
redis_data/